packages/gitlab-ui/storybook/
packages/gitlab-ui/public/
packages/gitlab-ui/dist/
packages/gitlab-ui/scss_to_js/scss_variables.js
packages/gitlab-ui/.cypress_cache
packages/gitlab-ui/src/vendor/
packages/gitlab-ui/bin/migrate_custom_utils_to_tw.bundled.mjs
