h1, h2, h3, h4, h5, h6 {
  @apply gl-relative;
  @apply gl-text-heading;
  @apply gl-font-bold;

  > a[aria-hidden] {
    left: -1em;
    width: 1em;
    visibility: hidden;
    position: absolute;

    &::before {
      content: '#';
    }
  }

  &:hover > a[aria-hidden] {
    visibility: visible;
  }
}

h1 { @apply gl-heading-1 }
h2 { @apply gl-heading-2 }
h3 { @apply gl-heading-3 }
h4 { @apply gl-heading-4 }
h5 { @apply gl-heading-5 }
h6 { @apply gl-heading-6 }

p {
  @apply gl-text-base;
  @apply gl-leading-24;
}

.typography a {
  @apply gl-underline;
}

a,
button {
  &:focus {
    @include gl-focus;
  }
}

code {
  @apply gl-text-default #{!important};
  @apply gl-bg-strong;
  @apply gl-rounded-base;
  @apply gl-font-monospace;
  @apply gl-px-2;
  @apply gl-py-1;
  @apply gl-whitespace-pre-wrap;
  @apply gl-break-keep;
  font-size: 90% !important;
  word-wrap: normal;
}

pre {
  @apply gl-text-strong;
}
