h1, h2, h3, h4, h5, h6 {
  @apply gl-relative;
  @apply gl-text-heading;
  @apply gl-font-bold;

  > a[aria-hidden] {
    left: -1em;
    width: 1em;
    visibility: hidden;
    position: absolute;

    &::before {
      content: '#';
    }
  }

  &:hover > a[aria-hidden] {
    visibility: visible;
  }
}

h1 { @apply gl-heading-1 }
h2 { @apply gl-heading-2 }
h3 { @apply gl-heading-3 }
h4 { @apply gl-heading-4 }
h5 { @apply gl-heading-5 }
h6 { @apply gl-heading-6 }

p {
  @apply gl-text-base;
  @apply gl-leading-24;
}

a {
  @apply gl-text-link;
  @apply gl-no-underline;
  @apply hover:gl-text-link;
  @apply hover:gl-underline;
}

.typography a {
  @apply gl-underline;
}

a,
button {
  &:focus {
    @include gl-focus;
  }
}

kbd {
  padding: 3px 5px;
  line-height: 1;
  font-size: 0.875em;
  @apply gl-text-subtle;
  @apply gl-bg-subtle;
  @apply gl-border;
  border-image: none;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--gl-border-color-default);
}

code {
  @apply gl-text-default;
  @apply gl-bg-strong;
  @apply gl-rounded-base;
  @apply gl-font-monospace;
  @apply gl-px-2;
  @apply gl-py-1;
  @apply gl-whitespace-pre-wrap;
  @apply gl-break-keep;
  font-size: 90%;
  word-wrap: normal;
}

pre[class*="language-"],
:not(pre) > code[class*="language-"] {
  @apply gl-border;
  @apply gl-rounded-base;
  @apply gl-bg-subtle #{!important};
  text-shadow: none !important;

  code {
    @apply gl-p-0;
    @apply gl-bg-subtle #{!important};
  }
}
