####################
# BEGIN Core layer #
####################

# If nothing else matches, fall back to the Design System team.
# See later in the file for the Extended layer overrides.
# See https://gitlab.com/groups/gitlab-org/-/epics/15334 for more information.
* @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms

# Accessibility
/contents/accessibility/ @trevorpierce

# Technical Writing
/contents/content/ @gitlab-org/technical-writing

# Allow any maintainer to approve changeset and dependency updates
/.changeset/*.md @gitlab-org/maintainers/gitlab-ui @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
package.json @gitlab-org/maintainers/gitlab-ui @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
yarn.lock @gitlab-org/maintainers/gitlab-ui @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms

# Design System team members must approve code owner changes
/.gitlab/CODEOWNERS @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer

# For testing purposes
/.gitlab/code_owners_test_file @gitlab-org/foundations/design-system

##################
# END Core layer #
##################

#############################
# BEGIN GitLab UI overrides #
#############################

# Give GitLab UI maintainers default ownership of all GitLab UI files.
/packages/gitlab-ui/ @gitlab-org/maintainers/gitlab-ui

# Give designers default ownership of all GitLab UI screenshots.
/packages/gitlab-ui/tests/__image_snapshots__/ @gitlab-com/gitlab-ux/designers

# Reinstate Design System team as owners of Core components
/packages/gitlab-ui/src/components/base/accordion @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/alert @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/animated_icon @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/avatar @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/avatar_labeled @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/avatar_link @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/avatars_inline @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/badge @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/banner @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/breadcrumb @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/button @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/button_group @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/card @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/collapse @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/datepicker @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/daterange_picker @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/drawer @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/dropdown @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/filtered_search @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/form @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/icon @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/illustration @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/infinite_scroll @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/keyset_pagination @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/link @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/loading_icon @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/markdown @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/modal @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/new_dropdowns @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/pagination @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/popover @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/progress_bar @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/search_box_by_click @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/search_box_by_type @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/segmented_control @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/skeleton_loader @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/sorting @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/table @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/table_lite @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/tabs @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/toast @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/toggle @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/token @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/token_selector @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/base/tooltip @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/regions/empty_state @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms

# Reinstate Design System team as owners of Core utilities
/packages/gitlab-ui/src/components/utilities/friendly_wrap @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/utilities/intersection_observer @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/utilities/intersperse @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/utilities/sprintf @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/utilities/truncate @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms
/packages/gitlab-ui/src/components/utilities/truncate_text @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms

# Reinstate Design System team as owners of Core directives
/packages/gitlab-ui/src/directives @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms

# Reinstate Design System team as owners of Design Tokens
/packages/gitlab-ui/src/tokens @gitlab-org/foundations/design-system @annabeldunstone @clavimoniere @chrismicek @danmh @jeldergl @jmiocene @markrian @paintedbicycle-gitlab @seggenberger @sdejonge @thutterer @tauriedavis @rayana @aregnery @pedroms

###########################
# END GitLab UI overrides #
###########################

###############################
# BEGIN GitLab SVGs overrides #
###############################

# Engineering
/packages/gitlab-svgs/ @slashmanov @gitlab-org/maintainers/frontend

# UX
/packages/gitlab-svgs/illustrations/ @tauriedavis @jeldergl @jmiocene
/packages/gitlab-svgs/sprite_icons/ @tauriedavis @jeldergl @jmiocene

# Figma
#
# While no Figma files are committed to this repo, the following Figma maintainers are available to support any needs related to icons and illustrations in Figma:
# @jeldergl @jmiocene

#############################
# END GitLab SVGs overrides #
#############################

##################################
# BEGIN Extended layer overrides #
##################################

# AI Patterns
/contents/patterns/ai-human-interaction.md @aregnery @emilybauman @jackib @nicollem @pedroms @timnoah
/contents/patterns/duo-* @aregnery @emilybauman @jackib @nicollem @pedroms @timnoah

# Animation
/contents/product-foundations/animation* @jmiocene @jelder
/contents/product-foundations/iconography-animated.md @jmiocene @jelder

# Brand
/contents/brand-* @gitlab-com/gitlab-ux/designers
/contents/resources.md @gitlab-com/gitlab-ux/designers
/contents/style-guides.md @gitlab-com/gitlab-ux/designers

# Data Visualization
/contents/data-visualization/ @svedova @lvanc @jiaan
/contents/components/dashboard-panel.md @svedova @lvanc @jiaan
/packages/gitlab-ui/src/components/charts/ @svedova @lvanc @jiaan
/packages/gitlab-ui/src/components/dashboards/ @svedova @lvanc @jiaan

# Illustration
/contents/product-foundations/illustration* @jmiocene @jelder

# UX patterns
/contents/objects/ @gitlab-com/gitlab-ux/designers
/contents/patterns/dashboards.md @gitlab-com/gitlab-ux/designers
/contents/patterns/drag-and-drop.md @gitlab-com/gitlab-ux/designers
/contents/patterns/feature-discovery.md @gitlab-com/gitlab-ux/designers
/contents/patterns/feature-management.md @gitlab-com/gitlab-ux/designers
/contents/patterns/keyboard-shortcuts.md @gitlab-com/gitlab-ux/designers
/contents/patterns/merge-request-reports.md @gitlab-com/gitlab-ux/designers
/contents/patterns/navigation-sidebar.md @gitlab-com/gitlab-ux/designers
/contents/patterns/notifications.md @gitlab-com/gitlab-ux/designers
/contents/patterns/settings-management.md @gitlab-com/gitlab-ux/designers

# Extended Components
/contents/components/broadcast-message.md @gitlab-com/gitlab-ux/designers @gitlab-org/maintainers/gitlab-ui
/contents/components/label.md @gitlab-com/gitlab-ux/designers @gitlab-org/maintainers/gitlab-ui
/contents/components/path.md @gitlab-com/gitlab-ux/designers @gitlab-org/maintainers/gitlab-ui
/contents/components/stepper.md @gitlab-com/gitlab-ux/designers @gitlab-org/maintainers/gitlab-ui
/contents/components/tree.md @gitlab-com/gitlab-ux/designers @gitlab-org/maintainers/gitlab-ui
/contents/components/utility-* @gitlab-com/gitlab-ux/designers @gitlab-org/maintainers/gitlab-ui

##################################
# END Extended layer overrides #
##################################

########################
# BEGIN Named sections #
########################

# At the moment, there are no named sections. If we ever have any, they belong
# here at the end of the file.
